<section class="benefits">
  <h2 class="benefits__title">¿Por qué pasarte a Premium?</h2>

  <div class="benefits__articlesSection">
    <include
      src="./article.html"
      img="benefit-1.png"
      title="Descarga música."
      titleImg="Descarga música"
      text="Llévala siempre contigo."
      alt="Descarga música"
    ></include>
    <include
      src="./article.html"
      img="benefit-2.png"
      title="Sin anuncios."
      titleImg="Sin anuncios"
      text="Disfruta de música sin interrupciones."
      alt="Sin anuncios"
    ></include>
    <include
      src="./article.html"
      img="benefit-3.png"
      title="Escucha lo que quieras."
      titleImg="Escucha lo que quieras"
      text="Incluso en el móvil."
      alt="Escucha lo que quieras"
    ></include>

    <include
      src="./article.html"
      img="benefit-4.png"
      title="Salta todas las canciones que quieras."
      titleImg="Salta todas las canciones que quieras"
      text="Simplemente dale a siguiente."
      alt="Salta todas las canciones que quieras"
      textNumber="text-4"
    ></include>
  </div>
</section>
