<header class="header">
  <div class="header__container">
    <a href="https://www.spotify.com/es/" title="Ir a Spotifiy" target="_blank">
      <img
        class="header__logo"
        src="./assets/images/logo.png"
        alt="Logo de Spotify"
        title="Logo de Spotify"
      />
    </a>
    <img
      src="./assets/images/menu-icon.png"
      alt="Menú hamburguesa"
      class="header__hamb"
      title="Menú hamburguesa"
    />
    <nav class="header__nav">
      <ul class="header__ul">
        <li class="header__ul--li">
          <a class="link_nav_header" href="https://www.spotify.com/es/premium/"
            >Premium
          </a>
        </li>
        <li class="header__ul--li">
          <a
            class="link_nav_header"
            href="https://support.spotify.com/es/?_ga=2.116031041.657334123.1637756748-1771199844.1635431590"
            >Ayuda</a
          >
        </li>
        <li class="header__ul--li">
          <a
            class="link_nav_header"
            href="https://www.spotify.com/es/download/windows/"
            >Descargar</a
          >
        </li>
        <li class="header__ul--li line_nav">
          <a class="link_nav_header" href="https://www.spotify.com/es/signup"
            >Registrarse</a
          >
        </li>
        <li class="header__ul--li">
          <a
            class="link_nav_header"
            href="https://accounts.spotify.com/es-ES/login/?continue=https:%2F%2Fopen.spotify.com%2F__noul__%3Fl2l%3D1%26nd%3D1&_locale=es-ES"
            >Iniciar sesión</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
