<section class="hero">
  <div class="img-hero"></div>

  <div class="hero__content">
    <h1 class="hero__title">Prueba Premium gratis 3 meses</h1>
    <h2 class="hero__subtitle">
      Escucha millones de canciones sin anuncios, a la carta y sin conexión.
    </h2>
    <a class="hero__button hero__button--link" href="https://www.spotify.com/es/premium/#plans">Ver planes</a>
    </a>
    <small class="hero__small">
      Rigen términos y condiciones. Los tres meses gratis no están disponibles
      para usuarios que ya hayan probado Premium.
    </small>
  </div>
</section>
